<html>
    <head>
        <title>User Ujian Praktikum IlhamMuhammadAriq_1174084</title>
    </head>
    <body>
        <h1>
            Here are your users:_IlhamMuhammdAriq_1174087
        </h1>
        {% if user%}
        <ol>
        {% for users in User %}   
        <li> User Info<br>
            <ul>
                <li>First Nama : {{users.first_name}}</li>
                <li>Last Nama : {{users.last_name}}</li>
                <li>Email : {{users.email}}</li>
            </ul>
        </li>
        {% endfor %}
        </ol>
        {% endif %}
    </body>
</html> 